<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>LoginForm</title>
  
  <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
 </head>
 <body>
  <div class="bgimg">
   <div class="centerdiv">
    <img src="https://cdn1.iconfinder.com/data/icons/flat-business-icons/128/user-128.png" id="profilepic">
    <h2>user login</h2>
    <form action="/user/create-session/" method="POST">
     <div>
      <label for="email">Email</label><br>
      <input type="email" name="email" class="inputbox" placeholder="email">
     </div>
     <br>
     <div>
      <label for="password">Password</label><br>
      <input type="Password" name="password" class="inputbox" placeholder="Password">
     </div>
     <br>
     <div>
      <button type="submit"> LOGIN </button>
     </div>
    </form> <br>
   
   </div>
  </div>
  
 </body>
</html>
